:root { 
--blue_A400:#1877f2; 
--gray_900:#161722; 
--red_500:#ee4e34; 
--teal_100:#add8e6; 
--red_500_87:#ee4e3487; 
--cyan_300:#65d2e9; 
--orange_50:#fcedda; 
--yellow_500:#f9ea49; 
--red_500_63:#ee4e3463; 
--white_A700_02:#ffffff02; 
--indigo_900:#00008b; 
--deep_orange_500:#ff5b27; 
--white_A700:#ffffff; 
--pink_400:#e6436d; 
}